# Server Configuration
PORT=5000
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/<DB_NAME>
NODE_ENV=development

# SMTP Email Configuration (Nodemailer)
SMTP_EMAIL=your-email@example.com
SMTP_PASS=your-app-specific-password
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
